body {
  font-family: sans-serif;
  //#scatter {
  //  margin: 1em;
  //  display: flex;
  //  flex-flow: row wrap;
  //  justify-content: space-evenly;
  //  align-items: center;
  //}
}

// scatter
svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 150px;
  height: 120px;
  padding: 2px;
  font: 12px sans-serif;
  border: 1px;
  border-radius: 8px;
  pointer-events: none;
  p {
    color: whitesmoke;
  }
}

div.box {
  width: fit-content;
  height: fit-content;
}

div.boxmin {
  width: min-content;
  height: fit-content;
  flex-grow: 10;
}

div.header {
  text-align: center;
  background-color: #87CEFA;
  width: 100%;
}

brush.boxbrush {
  border-style: dashed;
}

brush.timebrush {
  border-style: dashed;
}

brush.scatterbrush {
  border-style: dashed;
}

path.timepath {
  border-style: dashed;
}

path.unselectedtimepath {
  border-style: dashed;
}

text.boxtext {
  color: #000
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
}

#clusterCheckDiv{
  margin-top:10px;
  margin-bottom: 20px;
}

[type="checkbox"]{
  margin-left: 10px;
  margin-right: 2px;
 
}