@import "scss/fontawesome";
@import "scss/solid";
@import 'global_layout';
@import 'collapsible';
@import 'loader';

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 150px;
  height: fit-content;
  padding: 2px;
  font: 12px sans-serif;
  border: 1px;
  border-radius: 8px;
  pointer-events: none;
  p {
    color: whitesmoke;
  }
}

brush.boxbrush {
  border-style: dashed;
}

brush.timebrush {
  border-style: dashed;
}

brush.scatterbrush {
  border-style: dashed;
}

path.timepath {
  border-style: dashed;
}

path.unselectedtimepath {
  border-style: dashed;
}

span.info {
  content: "\2139";
}