$background-color: #4684ee;
$loader-color: #fff;
$loader-size: 3em;

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;

    display: flex;  
    justify-content: center;
    align-items: center;

    // color: $loader-color;
  
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: $loader-size;
    
    opacity: 0.8;

    display: none;

    span {
        display: inline-block;
        animation: pulse 0.4s alternate infinite ease-in-out;
    
        &:nth-child(odd) {
          animation-delay: 0.4s;
        }
    }
}

@keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
}

